<div id="product_index">

  <% if @products.empty? %>
    <h3>No matches</h3>
  <% end %>

  <% @products.each do |product| %>
    <h3><%= link_to product.name, product_path(product) %></h3>
  <% end %>
  
  <%= paginate @products %>
</div>